<!DOCTYPE HTML>
<html>
<head>
 <title>Counts</title>
 <link href="/css/bootstrap.min.css" rel="stylesheet">
 <script src="/js/jquery-1.11.3.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
</head>
<body>

 <h1 id="headline">Red/Green Counts</h1>

 <div class="container">
  <div class="col-sm-12">

   <div class="row">
    <div class="col-xs-2">
     <b>Branch/Pair</b>
    </div>
    <div class="col-xs-1">Score</div>
    <div class="col-xs-9">Green builds</div>
   </div>

   {{#scores}}
   <div class="row">
    <div class="col-xs-2">
     <b>{{name}}</b>
    </div>
    <div class="col-xs-1">{{score}}</div>
    <div class="col-xs-9">xxx</div>
   </div>
   {{/scores}}

  </div>
 </div>

</body>

</html>
