<!DOCTYPE HTML>
<html>
<head>
 <title>Push Counter</title>
 <link href="/css/bootstrap.min.css" rel="stylesheet">
 <script src="/js/jquery-1.11.3.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
</head>
<body>

 <h1 id="headline">Push Counts</h1>

 <div class="container">
  <div class="col-sm-12">

   <div class="row">
    <div class="col-xs-2">
     <b>Branch/Pair</b>
    </div>
    <div class="col-xs-1">Score</div>
    <div class="col-xs-9">Wins!</div>
   </div>

   {{#scores}}
   <div class="row">
    <div class="col-xs-2">
     <b>{{name}}</b>
    </div>
    <div class="col-xs-1">{{score}}</div>
    <div class="col-xs-9">
       {{#twentyFives}}
       <img src="/img/laurels-trophy.png" width="51" height="51" alt="25" title="25" />
       {{/twentyFives}}
       {{#fives}}
       <img src="/img/medal.png" width="51" height="51" alt="5" title="5" />
       {{/fives}}
       {{#ones}}
       <img src="/img/crown-coin.png" width="51" height="51" alt="1" title="1" />
       {{/ones}}
    </div>
   </div>
   {{/scores}}

  </div>
 </div>

</body>
<!-- TODO Code Cop Link and Logo -->
<!-- TODO Application version? Github id? -->
</html>
